@model IEnumerable<MVC.Models.Accounts>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Navbar_Admin.cshtml";
    <head>
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
        <!-- DataTables -->
        <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    </head>
}

<!--body template-->

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">THỐNG KÊ DỮ LIỆU</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="Index">Home</a></li>
                    <li class="breadcrumb-item active">Thống kê</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Người dùng</h3>
    </div>
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover dataTable dtr-inline direct-chat-yellow" role="grid" aria-describedby="example2_info">
            <thead>
                <tr role="row" class="text-center" style="background-color: #FFC107">
                    <th class="sorting" style="color: black" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">@Html.DisplayNameFor(model => model.Email)</th>
                    <th class="sorting" style="color: black" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">@Html.DisplayNameFor(model => model.Phone)</th>
                    <th class="sorting" style="color: black" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="">@Html.DisplayNameFor(model => model.Address)</th>
                    <th class="sorting_asc" style="color: black" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column descending" style="" aria-sort="ascending">@Html.DisplayNameFor(model => model.Point)</th>
                    <th class="sorting" style="color: black" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style=""> @Html.DisplayNameFor(model => model.Account_Type)</th>
                    <th class="sorting" style="color: black" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style=""> @Html.DisplayNameFor(model => model.Fullname)</th>
                    <th tabindex="0"  style="color: black" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style=""> Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Point)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Account_Type.Name)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Fullname)
                        </td>
                        <td class="text-center">
                            <a class="item" href="#"><i class="fas fa-chevron-circle-up" style="color:yellow"> </i></a>
                            <a class="item" href="#"><i class="fas fa-info-circle" style="color:limegreen"> </i></a>
                            <a class="item" href="#"><i class="fas fa-minus-circle" style="color:red"></i></a>                                                  
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<!--end body template-->

<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

<h2>Index</h2>
<p>
    <a href="@Url.Action("Create","Accounts")" class="btn btn-default"> <i class="fa fa-plus"></i> Create New </a>
</p>
<table class="table table-striped">
    <thead class="table table-heading">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Point)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Account_Type.Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th class="text-center">Action</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Account_Type.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
