@model MVC.ViewModels.AllHomeViewModel


@{ Layout = null;}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Top Navigation</title>

    <link href="~/dist/css/SlideShow.css" rel="stylesheet" />
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="../../plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">

</head>
<body class="hold-transition layout-top-nav dark-mode">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light" style="min-width: 1240px;background-color: #FFC107;">
            <div class="container">
                <a href="../../HomeShopping/Index" class="navbar-brand">
                    <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">BEE SHOPPING</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="../../HomeShopping/Index" class="nav-link">Trang Chính</a>
                        </li>
                        <li class="nav-item">
                            <a href="../../Sellers/Index" class="nav-link">Gian Hàng</a>
                        </li>
                    </ul>

                    <!-- SEARCH FORM -->
                    <form id="_mainform" action="../../HomeShopping/Index" method="post" class="form-inline ml-0 ml-md-3">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" name="search" value="@Model.homeViewModel.search" style="background-color: #808080;" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    
                </div>

                <!-- Right navbar links -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    <!-- Cart Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" id="_nutgiohang" href="#">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="badge badge-info navbar-badge" class="_giohangsoluong">15</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-header" style="color: #FFC107;"><b>Giỏ hàng</b></span>
                            <div class="dropdown-divider"></div>
                            <div style="max-height: 200px;overflow-y: auto;" class="_giohang">

                            </div>
                            <a class="btn btn-warning dropdown-item dropdown-footer" href="../../Cart/Index">Đi đến Giỏ hàng</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <div style="margin: 5px;">
                                <span> <img src="../../dist/img/user3-128x128.jpg" class="img-circle elevation-3 img-size-50 mr-3" style="width: 40px;margin-left: 0px;"> </span>
                                <span>Nguyễn Trung Tín</span>
                            </div>
                            <div class="dropdown-divider"></div>
                            <button class="btn btn-info" style="width: 90%;margin-left: 13px;margin-right: 13px; margin-top: 5px;">Cá Nhân</button>
                            <a button class="btn btn-outline-warning" href="../../Accounts/Logout"  style="width: 90%;margin-left: 13px;margin-right: 13px; margin-top: 5px;margin-bottom: 5px;">Đăng xuất</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Main content -->
            <div class="content">
                <div class="container" style="max-width: 1240px; min-width: 1240px;">
                    <div class="row">
                        <div class="slideshow-container" style="margin-top:5px;margin-bottom:5px;">

                            <div class="mySlides fader dot" style="border-radius: 10px;width: 100%;height: 100%;;background-image: url(https://vcdn1-sohoa.vnecdn.net/2019/11/15/miwatch-Applewatch-vnexpress-DSC02077-1573812155.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=AhIlxLESqJS-dFfbPgOmwA);background-size: 100%;background-repeat: no-repeat;background-position: center;">
                                <div class="text"><button class="btn btn-outline-warning" style="width:120px;height:50px">Mua ngay</button></div>
                            </div>

                            <div class="mySlides fader dot" style="border-radius: 10px;width: 100%;height: 100%;;background-image: url(https://ict-imgs.vgcloud.vn/2020/09/16/02/apple-gioi-thieu-apple-watch-se-gia-re-ke-nhiem-series-3-3.jpg);background-size: 100%;background-repeat: no-repeat;background-position: center;">
                                <div class="text"><button class="btn btn-outline-warning" style="width:120px;height:50px">Mua ngay</button></div>
                            </div>

                            <div class="mySlides fader dot" style="border-radius: 10px;width: 100%;height: 100%;;background-image: url(https://phongvu.vn/cong-nghe/wp-content/uploads/2020/07/apple-watch-series-4-1.jpg);background-size: 100%;background-repeat: no-repeat;background-position: center;">
                                <div class="text"><button class="btn btn-outline-warning" style="width:120px;height:50px">Mua ngay</button></div>
                            </div>

                            <div class="mySlides fader dot" style="border-radius: 10px;width: 100%;height: 100%;;background-image: url(https://ict-imgs.vgcloud.vn/2020/09/16/02/apple-gioi-thieu-apple-watch-se-gia-re-ke-nhiem-series-3-3.jpg);background-size: 100%;background-repeat: no-repeat;background-position: center;">
                                <div class="text"><button class="btn btn-outline-warning" style="width:120px;height:50px">Mua ngay</button></div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="card" style="width: 100%; margin: auto;border-radius: 10px;border: 1px solid #FFC107;">
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-2">
                                            <div class="text-muted">Giá trị:</div>
                                            <select class="form-control" name="valueWatch">
                                                @for (int i = 0; i < 6; i++)
                                                {
                                                    if (i == Model.homeViewModel.valueWatch)
                                                    {
                                                        <option class="btn btn-warning" value="@i" selected>@Model.homeViewModel.lvalue[i]</option>
                                                    }
                                                    else
                                                    {
                                                        <option class="btn btn-warning" value="@i">@Model.homeViewModel.lvalue[i]</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-2">
                                            <div class="text-muted">Hãng Sản xuất:</div>
                                            <select class="form-control" name="idFirm">
                                                <option class="btn btn-warning" value="0">Bất kì Hãng nào</option>
                                                @if (Model.firms != null)
                                                {
                                                    foreach (var item in Model.firms)
                                                    {
                                                        if (Model.homeViewModel.idFirm == item.id)
                                                        {
                                                            <option class="btn btn-warning" value="@item.id" selected>@item.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option class="btn btn-warning" value="@item.id">@item.Name</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-2">
                                            <div class="text-muted">Loại Đồng hồ:</div>
                                            <select class="form-control" name="idCategori" style="width: 90%;">
                                                <option class="btn btn-warning" value="0">Bất kì Loại nào</option>
                                                @if (Model.categories != null)
                                                {
                                                    foreach (var item in Model.categories)
                                                    {
                                                        if (Model.homeViewModel.idCategori == item.id)
                                                        {
                                                            <option class="btn btn-warning" value="@item.id" selected>@item.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option class="btn btn-warning" value="@item.id">@item.Name</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-2">
                                            <div class="text-muted">Giới tính:</div>
                                            <select class="form-control" name="idSex">
                                                <option class="btn btn-warning" value="0">Bất kì Phái nào</option>
                                                @if (Model.sex != null)
                                                {
                                                    foreach (var item in Model.sex)
                                                    {
                                                        if (Model.homeViewModel.idSex == item.id)
                                                        {
                                                            <option class="btn btn-warning" value="@item.id" selected>@item.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option class="btn btn-warning" value="@item.id">@item.Name</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-2">
                                            <div class="text-muted">Sắp xếp:</div>
                                            <select class="form-control" name="sortBy">
                                                @for (int i = 0; i < 6; i++)
                                                {
                                                    if (i == Model.homeViewModel.sortBy)
                                                    {
                                                        <option class="btn btn-warning" value="@i" selected>@Model.homeViewModel.lsortBy[i]</option>
                                                    }
                                                    else
                                                    {
                                                        <option class="btn btn-warning" value="@i">@Model.homeViewModel.lsortBy[i]</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col">
                                            <div class="float-right">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text" style="border: 0;">
                                                            <a href="#" name="leftPage" onclick="_leftPage()"><i class="fas fa-angle-left"></i></a>
                                                        </div>
                                                    </div>
                                                    <div style="margin: 10px;"><input id="numPage" type="text" style="width: 20px" name="numPage" value="@Model.homeViewModel.numPage" /></div>
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text" style="border: 0;">
                                                            <a href="#" name="_rightPage" onclick="_rightPage()"><i class="fas fa-angle-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                @if (Model.view_WatchDetails != null)
                {
                    foreach (var item in Model.view_WatchDetails)
                    {
                        <div class="card" style="width: 300px;margin: 5px;" onmouseover="style.border='1px solid #FFC107'" onmouseout="style.border='0px solid #4c4c4c'">

                            <div class="card-img-top" alt="" style="height: 300px; background-image: url('@item.Url_Image');background-size: 100%;background-repeat: no-repeat;">

                                @if (item.LuotMua != null)
                                {
                                    <div class="float-right" style="background-color: #FFC107;padding: 6px;vertical-align: middle;width: fit-content;"><b>new</b></div>
                                }
                            </div>
                            <div class="card-body">
                                <a href="../../Watch/Index/@item.id"><h5 style=""><b>@item.Name</b></h5></a>
                                <div class="row">
                                    <div class="col-10">
                                        <div class="row">
                                            <span style="margin-left: 10px;"><h5> ₫ @Html.FormatValue(item.Price, "{0:#,###,##0}")</h5></span>
                                        </div>
                                        @if (item.Rate != null)
                                        {
                                            <span class="stars" style="color: #FFC107;" data-rating="@item.Rate" data-num-stars="5"></span>
                                        }
                                        @if (item.LuotMua != null)
                                        {
                                            <span>@item.LuotMua</span>
                                        }
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-outline-warning float-right" id="@item.id" onclick="themvaogio_funtion(this)"><i class="fas fa-shopping-cart"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                <!-- /.col-md-6 -->
            </div>

            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>
    <div class='lentop'>
        <div>
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="../../plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="../../plugins/toastr/toastr.min.js"></script>
    <!-- AdminLTE for demo purposes -->

    <script src="../../dist/js/demo.js"></script>
    <script>
        $('.stars').each(function () {
            var rating = $(this).data("rating");
            var fullStar = new Array(Math.floor(rating + 1)).join('<i class="fas fa-star"></i>');
            var halfStar = ((rating % 1) !== 0) ? '<i class="fas fa-star-half-alt"></i>' : '';
            var noStar = new Array(Math.floor($(this).data("numStars") + 1 - rating)).join('<i class="far fa-star"></i>');
            $(this).html(fullStar + halfStar + noStar);
        })

    </script>

    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 5000); // Change image every 2 seconds
        }
    </script>

    <script>

        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        function ThanhCongToast(Content) {
            Toast.fire({
                icon: 'success',
                title: Content,
            });
        };
    </script>
    <script>
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) $(".lentop").fadeIn();
                else $(".lentop").fadeOut();
            });
            $(".lentop").click(function () {
                $("body,html").animate({ scrollTop: 0 }, "slow");
            });
        });
    </script>
    <script>
        function themvaogio_funtion(seft) {
            var data = {
                id_Watch: seft.id,
            }
            $.ajax({
                url: '../../CartDetails/Add',
                type: 'POST',
                data: data,
                async: false,
                success: function (content) {
                    if (content == "login") {
                        window.location.href = '/Accounts/Login';
                        return;
                    };

                    if (content == "addnew") {
                        ThanhCongToast("Đã thêm thành công");
                    };

                    if (content == "addold") {
                        ThanhCongToast("Update Thành công sản phẩm trong giỏ");
                    };
                    updatecart();
                }
            });
        };


        $('select').change(function () {
            $('#numPage').val(1);
            document.getElementById("_mainform").submit();
        });

        function _leftPage() {
            var x = parseInt($('#numPage').val());
            if (x > 1) {
                x = x - 1;
                $('#numPage').val(x);
                document.getElementById("_mainform").submit();
            }

        };

        function _rightPage() {
            var x = parseInt($('#numPage').val());
            x = x + 1;
            $('#numPage').val(x);
            document.getElementById("_mainform").submit();
        };
    </script>
    <script>
        function updatecart() {
            $.ajax({
                    url: '../../Cart/Show',
                    type: 'GET',
                    async: false,
                    dataType: 'JSON',
                    success: function (newcart) {
                        $('._giohang').empty();
                        $.each(newcart, function (index, item) {
                            $('._giohang').append('<div class="row" style="width: 100%; padding: 5px;"><div class= "col-2" style = "margin: auto;"><img src="'
                                + item.Url_Image + '" class="img-size-50 mr-3" style="width: 40px;"></div ><div class="col-8" style="margin: auto;"><p class="text-muted" style="margin-left: 5px; "><a href="../../Watch/Index/'
                                + item.id_Watch + '">'
                                + item.Name + '</a></p ></div><div class="col-2" style="margin: auto;"><p class="text-muted" style="text-align: right;">'
                                + item.Count + '</p ></div ></div > ');
                        });
                        $('._giohang').parentElement.show;
                    }
                });
            };
        window.onload = function () {
            $('._giohang').empty();
            updatecart();
        };
    </script>
</body>
</html>

@*<div class="card" style="width: 300px;margin: 5px;" onmouseover="style.border='1px solid #FFC107'" onmouseout="style.border='0px solid #4c4c4c'">
        <div class="card-img-top" alt="" style="height: 300px;background-image: url('https://cdn.tgdd.vn/Products/Images/7077/117880/apple-watch-3-phien-ban-38-mm-thumb-part2-600x600.png');background-size: 100%;background-repeat: no-repeat;">
            <div class="float-right" style="background-color: #FFC107;padding: 6px;vertical-align: middle;width: fit-content;"><b>new</b></div>
            <div style="background-color: red;padding: 6px;vertical-align: middle;width: fit-content;"><b>30%</b></div>
        </div>
        <div class="card-body">
            <h5 style=""><b>Hoa hậu đồng hồ</b></h5>
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <span style="margin-left: 10px;"><h5> ₫ 8.000.000</h5></span>
                        <span><h6 class="text-muted" style="text-decoration: line-through;"><i>₫ 9.000.000</i></h6></span>
                    </div>
                    <span class="stars" style="color: #FFC107;" data-rating="4.5" data-num-stars="5"></span>
                    <span>154</span>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-warning float-right" id="#idwatch" onclick="themvaogio_funtion(this)"><i class="fas fa-shopping-cart"></i></button>
                </div>
            </div>
        </div>
    </div>*@
