@model MVC.Controllers.Sellers.SellersController.CreateWatchModel

@{
    Layout = "~/Views/Shared/_Layout_Sallers.cshtml";
}

@section Css {
    <!-- BS Stepper -->
    <link rel="stylesheet" href="../../plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="../../plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link href="~/dist/css/Bee_Style.css" rel="stylesheet" />
    <!-- Select2 -->
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Trang Sản Phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="../../Sallers/">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Trang Sản phẩm</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title" style="color: #FFC107;"><b>THÊM ĐỒNG HỒ</b></h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="bs-stepper">
                            <div class="bs-stepper-header" role="tablist">
                                <!-- your steps here -->
                                <div class="step" data-target="#logins-part">
                                    <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                                        <span class="bs-stepper-circle bootstrap-switch-yellow">1</span>
                                        <span class="bs-stepper-label">Thông tin chi tiết</span>
                                    </button>
                                </div>
                                <div class="line"></div>
                                <div class="step" data-target="#information-part">
                                    <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                        <span class="bs-stepper-circle">2</span>
                                        <span class="bs-stepper-label">Thêm ảnh hiển thị</span>
                                    </button>
                                </div>
                            </div>
                            <div class="bs-stepper-content">
                                <!-- your steps content here -->
                                <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Hãng Sản Xuất <small><em>*</em></small></label>
                                                    <select name="id_Firms" id="id_Firms" class="select2" style="width: 100%;">
                                                        @if (Model.listfirms != null)
                                                        {
                                                            foreach (var item in Model.listfirms)
                                                            {
                                                                <option value="@item.id">@item</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <option value="" disabled="true">Không có gì ở đây cả</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Chủng Loại <small><em>*</em></small></label>
                                                    <select class="select2 accent-warning" name="list_Categories" id="list_Categories" multiple="multiple" data-placeholder="Chọn ít nhất một" style="width: 100%;">
                                                        @foreach (var item in Model.listcategories)
                                                        {
                                                            <option value="@item.id">@item</option>
                                                        }
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Tên Sản Phẩm <small><em>*</em></small></label>
                                                    <input name="Name" id="Name" required type="text" class="form-control" placeholder="Nhập tên ...">
                                                    <div class="invalid-feedback">Quên nhập tên Đồng hồ nè thương gia ơii</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Phái <small><em>*</em></small></label>
                                                    <div style="max-width: 400px; display: flex;flex-direction: row;">
                                                        @if (Model.listsex != null)
                                                        {
                                                            foreach (var item in Model.listsex)
                                                            {
                                                                <span class="icheck-bootstrap" style="margin:0 auto;">
                                                                    <input type="radio" value="@item.id" id="@item.id" name="id_Sex" />
                                                                    <label for="@item.id">@item.Name</label>
                                                                </span>
                                                            }
                                                        }
                                                        else
                                                        {

                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Đơn giá <small><em>*</em></small></label>
                                                    <div class="input-group">
                                                        <input type="number" name="Price" id="Price" class="form-control">
                                                        <div class="input-group-append">
                                                            <div class="input-group-text"><b>VNĐ</b></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Số lượng <small><em>*</em></small></label>
                                                <div class="input-group">
                                                    <input type="number" name="Count" id="Count" class="form-control" min="1" max="100">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text"><b>Chiếc</b></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Thêm Mã Giảm Giá Cho Sản phẩm<small><em> (Nếu có)</em></small></label>
                                                    <div class="input-group">
                                                        <input type="text" name="Code" id="Code" class="form-control" placeholder="CODE">
                                                        <div class="input-group-append">
                                                            <div class="input-group-text"><i class="fas fa-percent"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                <label>Thông Tin Chi Tiết Sản Phẩm</label>
                                                <textarea class="form-control" name="Information" id="Information" rows="3" placeholder="Enter ..." style="margin-top: 0px; margin-bottom: 0px; height: 178px;"></textarea>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                        <button type="button" class="btn btn-warning" onclick="create(this)">Tiếp theo</button>
                                    </form>
                                </div>
                                <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                    <div class="form-group">
                                        <div id="actions" class="row">
                                            <div class="col-lg-6">
                                                <div class="btn-group w-100">
                                                    <span class="btn btn-warning col fileinput-button">
                                                        <i class="fas fa-plus"></i>
                                                        <span>Thêm Ảnh (PNG/JPG)</span>
                                                    </span>
                                                    <button type="submit" class="btn btn-success col start">
                                                        <i class="fas fa-upload"></i>
                                                        <span>Tải lên</span>
                                                    </button>
                                                    <button type="reset" class="btn btn-danger col cancel">
                                                        <i class="fas fa-times-circle"></i>
                                                        <span>Hủy</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 d-flex align-items-center">
                                                <div class="fileupload-process w-100">
                                                    <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table table-striped files" id="previews" style="min-height: 500px;">
                                            <div id="template" class="row mt-2">
                                                <div class="col-auto">
                                                    <span class="preview"><img src="data:," alt="" data-dz-thumbnail /></span>
                                                </div>
                                                <div class="col d-flex align-items-center">
                                                    <p class="mb-0">
                                                        <span class="lead" data-dz-name></span>
                                                        (<span data-dz-size></span>)
                                                    </p>
                                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                                </div>
                                                <div class="col-4 d-flex align-items-center">
                                                    <div class="progress progress-striped active w-100" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                                    </div>
                                                </div>
                                                <div class="col-auto d-flex align-items-center">
                                                    <div class="btn-group">
                                                        <button class="btn btn-primary start" hidden>
                                                            <i class="fas fa-upload"></i>
                                                            <span>Start</span>
                                                        </button>
                                                        <button data-dz-remove class="btn btn-warning cancel" hidden>
                                                            <i class="fas fa-times-circle"></i>
                                                            <span>Cancel</span>
                                                        </button>
                                                        <button data-dz-remove class="btn btn-danger delete">
                                                            <i class="fas fa-trash"></i>
                                                            <span>Xóa</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-sidebar navbar-light" onclick="stepper.previous()">Quay lại</button>
                                    <button type="submit" class="btn btn-warning">Hoàn thành</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <em>Sản phẩm sẽ được thêm vào danh sách yếu cầu duyệt. Vui lòng chờ Sản phẩm được duyệt bởi chúng tôi trước khi nó sản sàng để mua sắm ^^</em>
                    </div>
                </div>
            </div>
        </div>


        <div class="card card-warning">

            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title"><b>Danh Sách Đồng Hồ</b></h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Tên Đồng Hồ</th>
                                <th>Hãng Sản Xuất</th>
                                <th>Chủng Loại</th>
                                <th>Số lượng</th>
                                <th>Đơn Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.listwatches != null)
                            {
                                foreach (var item in Model.listwatches)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.id_Firms</td>
                                        <td>Win 95+</td>
                                        <td>@item.Count</td>
                                        <td>@item.Price</td>
                                    </tr>
                                }
                            }
                            else
                            {
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th style="text-align:center">Tên Đồng Hồ</th>
                                <th style="text-align:center">Hãng Sản Xuất</th>
                                <th style="text-align:center">Chủng Loại</th>
                                <th style="text-align:center">Số lượng</th>
                                <th style="text-align:center">Đơn Giá</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Select2 -->
<script src="../../plugins/select2/js/select2.full.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- BS-Stepper -->
<script src="../../plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!-- dropzonejs -->
<script src="../../plugins/dropzone/min/dropzone.min.js"></script>

<script>
    document.getElementById('_dongho').className += ' active';

    function create(sefl) {
        var data = {
            id_Firms: $('#id_Firms option:selected').val(),
            list_Categories: $('#list_Categories').val().toString(),
            Name: $('#Name').val(),
            id_Sex: $('input[type="radio"]:checked').val(),
            Price: $('#Price').val(),
            Count: $('#Count').val(),
            Cod: $('#Code').val(),
            Information: $('#Information').val()
        };
        $.ajax({
            url: '../../Sellers/CreateWatches',
            type: 'POST',
            async: false,
            data: data,
            beforeSend: function () {
                (sefl).disabled = true;
            },
            success: function (reques) {
                (sefl).disabled = false;
                stepper.next();
            },
            fail: function (reques) {

            }
        });
    }

</script>
<!-- /.content -->

<script>
    // BS-Stepper Init
    document.addEventListener('DOMContentLoaded', function () {
        window.stepper = new Stepper(document.querySelector('.bs-stepper'), {
            animation: true,
        })
    });

    // DropzoneJS Demo Code Start
    Dropzone.autoDiscover = false;

    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
    var previewNode = document.querySelector("#template");
    previewNode.id = "";
    var previewTemplate = previewNode.parentNode.innerHTML;
    previewNode.parentNode.removeChild(previewNode);

    var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "../../Sellers/UpLoadFile", // Set the url
        thumbnailWidth: 150,
        thumbnailHeight: 150,
        parallelUploads: 20,
        acceptedFiles: ".jpg, .png",
        previewTemplate: previewTemplate,
        uploadMultiple: true,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
    });

    myDropzone.on("addedfile", function (file) {
        // Hookup the start button
        file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file); };
    });

    // Update the total progress bar
    myDropzone.on("totaluploadprogress", function (progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
    });

    myDropzone.on("sending", function (file) {
        // Show the total progress bar when upload starts
        document.querySelector("#total-progress").style.opacity = "1";
        // And disable the start button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
    });

    // Hide the total progress bar when nothing's uploading anymore
    myDropzone.on("queuecomplete", function (progress) {
        document.querySelector("#total-progress").style.opacity = "0";
    });

    myDropzone.on("removedfile", function (file) {

        var file_data = {
            file_name: file.name
        };
        $.ajax({
            url: '../../Sellers/DeleteFile',
            type: 'POST',
            async: true,
            data: file_data,
            success: function (msg_login) {
            }

        });

    })

    // Setup the buttons for all transfers
    // The "add files" button doesn't need to be setup because the config
    // `clickable` has already been specified.
    document.querySelector("#actions .start").onclick = function () {
        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
    };
    document.querySelector("#actions .cancel").onclick = function () {
        myDropzone.removeAllFiles(true);
    };
</script>

<script>
    $("#example1").DataTable({
        initComplete: function () {
            this.api().columns().every(function () {
                var column = this;
                var select = $('<select class="select2" name="select_search" style="width: 100%;"><option value=""></option></select>')
                    .appendTo($(column.footer()))
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search(val ? '^' + val + '$' : '', true, false)
                            .draw();
                    });

                column.data().unique().sort().each(function (d, j) {
                    select.append($('<option value="' + d + '">' + d + '</option>'))
                });
            });
        },
        responsive: true,
        lengthChange: false,
        autoWidth: true,
        iDisplayLength: 20,
        buttons: ['excel', 'pdf', 'print', 'colvis'],
        language: {
            "processing": "Dữ liệu đang được tải...",
            "search": "Tìm Kiếm",
            "info": "Danh sách từ _START_ đến _END_ trên Tổng cộng _TOTAL_",
            "infoEmpty": "0 Bảng ghi trong 0 tổng cộng 0",
            "zeroRecords": "Trống trơn ^^",
            "emptyTable": "Hiện tại bạn chưa có Sản Phẩm nào :<",
            "paginate": {
                "first": "Trang đầu",
                "previous": "Trang trước",
                "next": "Trang sau",
                "last": "Trang cuối",
            },
            aria: {
                "sortAscending": "Sắp xếp theo chiều tăng dần giá trị...",
                "sortDescending": "Sắp xếp theo chiều giảm dần giá trị...",
            },
        }
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

    $('.select2').select2();
</script>